  <div class = "main_header">
    <div class = "chat_title">test</div>
    <div class = "finish_btn"></div>
  </div>  
  <div class = "main_contents">
    <div class = "message">
      <div class = "message_head">
        <div class ="messenger_name"></div>  
        <div class = "message_title"></div>
      </div>
      <div class = "message_body">
        <div class = "message_text"></div>
        <div class = "message_image"></div>
      </div>
  </div>
</div>
