  <div class = "side_bar_header">
    <div class = "user_name">
    </div>
    <div class = "crate_btn">
    </div>    
  </div>  
  <div class = "side_bar_contents">
    <ul class = "room_lists">
      <li class = "room">
      </li>  
  </ul>
</div>
