
/*******************************************************************************
index
********************************************************************************/
.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;

}
.chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}
/******************************************************************************
サイドバー
********************************************************************************/
.side_bar_header{
  background-color: #253141;
  height: 100px;
  padding: 0 20px;

}

.user_name{

}

.crate_btn{

}

.side_bar_contents{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}


.room_lists


.room{

}



/*******************************************************************************
メイン
********************************************************************************/
.main_header{
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
  display: flex;
}

.chat_title{}

.main_contents{
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  margin-top: 46px;
  padding: 0 40px;
}

.message{}

.message_head{}

.messenger_name{}


.message_title{}

.message_body{}

.message_text{}


.message_image{}

.form{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}

